*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    outline: none;
}
html, body{
    height: 100%;
}
body{
    background: url(Images/background.png) repeat top left  #4e535b  ;
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
}
form{
    padding: 70px 45px 10px 45px;
    width: 90%;
    max-width: 475px;
    height: 475px;
    background-color: f1f2f4;
    margin: 10px auto;
    border-radius: 3px;
    box-shadow: 0px 1px 3px rgba(23, 16, 25, 0.75);
}
#clip img{
    display: block;
    margin: 0px auto;
}
#clip{
    width: 110px;
    margin: 0px auto;
    margin-top: -145px;
    position: relative;
}
#hole{
    width: 100%;
    height: 5px;
    background: url(Images/background.png) repeat top left  #4e535b  ;
    border-radius: 2.5px;
    box-shadow: 0px -2px rgba(23, 16, 25, 0.2);
    position: absolute;
    bottom: 0px;
    left: 0px;
}

h2{
    margin-top: 45px;
    text-align: center;
    color: #36383c;
    font-weight: bold;
}
p{
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    color: #36383c;
    margin-top: 4px;
    
}
#form-container{
    width: 100%;
    border-radius: 3px;
    box-shadow: inset 0px 1px 2px rgba(173, 174, 176, 0.25),0px 2px 0px white ;
    background-color: transparent;
}
input{
    display: block;
    width: 100%;
}
#email, #password{
    border: none;
    font-size: 24px;
    color: #4e535b;
    padding-left: 74px;
    padding-right: 24px;
    display: block;
}
#email{
    width: calc(100%-2px);
    margin-top: 44px;
    height: 85px;
    line-height: 45px;
    background: transparent url(Images/email.png) no-repeat 24px center;
    border-bottom: 1px solid #adaeb0;
}
#password{
    width: calc(100%-2px);
    height: 84px;
    line-height: 45px;
    background: transparent url(Images/password-icon1.png) no-repeat 24px center;
    border-top: 1px solid white;
}
button{
    width: 100%;
    border-radius: 3px;
    border: 1px solid #2a8b7b;
    background: #57c4b7 url(Images/button_bg.png) repeat-x left center;
    height: 74px;
    margin-top: 27px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    color: white;
    text-shadow: 0px 1px 3px rgba(23, 16, 35, 0.35);
    font-size: 30px;
    cursor: pointer;
}

